        <div id="quip<%= answer.id %>" class="quip quip1">
        <% link_to(answer.user) do %>
          <%= image_tag answer.user.gravatar_url, :class => "avatar" %>
        <% end %>
        <div class="message">
          <%= answer.body %>
        </div>
        <div class="qbar">
          <% form_for([answer.question, answer, answer.votes.new], :html => {:id => "answervote_#{answer.id}", :class => "save"}) do |f| %><%= hidden_field_tag 'vote', 'true' %><% end %>
          <% form_for([answer.question, answer, answer.votes.new], :html => {:id => "answerflag_#{answer.id}", :class => "save"}) do |f| %><%= hidden_field_tag 'vote', 'false' %><% end %>
          <span class="qspan">
            <a href="<%= user_path(answer.user) %>"><%= answer.user.username %></a>
            (<span class="score score_<%= answer.user.username %>"><%= answer.user.karma %></span><img width="8" height="8" src="/images/star.png" alt="points" class="trans-png star"/>) | <%= answer.city %>, <%= answer.country_name %> | posted <%= time_ago_in_words(answer.created_at) %> ago
          </span>
          <span class="qspan great-answer">
            <% unless answer.user == current_user || !logged_in? || current_user.voted_on?(answer) %>
              <a href="#" id="niceanswer_<%= answer.id %>" class="niceanswer">Nice!</a>
            <% end %>
            (<span class="score"><%= answer.net_votes %></span><img width="8" height="8" src="/images/star.png" alt="points" class="trans-png star"/>)
          </span>
          <% unless answer.user == current_user || !logged_in? || current_user.voted_against?(answer) || current_user.level < USER_ADMIN %>
          <span class="qspan">
              <a href="#" id="flaganswer_<%= answer.id %>" class="flaganswer">Flag</a>
          </span>
          <% end %>
          <% if current_user.eql?(answer.user) %>
            <span class="qspan end">
              <% if answer.created_at > 30.minutes.ago  %>
                <%= link_to 'Edit Response', edit_question_answer_path(@question, answer) %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
