<% content_for(:edit_question) do %>
  <div id="qualityask" class="qask module-main">
    <div class="header-left">
      <h2>Edit your post</h2>
    </div>
    <% form_for(@question) do |f| %>
      <% content_for(:errors) do %>
        <%= f.error_messages %>
      <% end %>
      <div id="ask_details" class="content">

        <div class="bigrow">
          <%= f.label :Summary %><br />
          <div class="form">
            <%= f.text_field :title %>
          </div>
        </div>

        <p>
        <div class="bigrow">
          <p><%= f.label :"How you helped" %><br /></p>
          <div class="form tall-frame">
          <%= f.text_area :body, :rows => 8, :cols => 60 %></textarea>
          </div>
        </div>

        <p>
        <div class="bigrow">
          <p><%= f.label :"How it helped you" %><br /></p>
          <div class="form tall-frame">
          <%= f.text_area :benefit, :rows => 8, :cols => 60 %></textarea>
          </div>
        </div>

        <div style="clear:both;">
          <span class="next">
            <%= f.submit 'Update', :class => "bigsubmit" %>
          </span>
        </div>
        </div>
    <% end %>
  </div>
  <%= link_to 'Back', @question %>
<% end %>